# Project specific
# hack: scripts for hacking around the project, not part of the main codebase
hack/
podcaster.yaml
.playwright/
.tmp/
podcasts/
downloads/

# Devenv
.devenv/
.direnv/
.env
.pre-commit-config.yaml

# Tools/IDEs
/.mcp.json
/.copilot
/.agents/mcp_config.json
/.vscode
/.gemini
/.antigravitycli
/opencode.json
!nix/opencode.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-log.txt
pip-delete-this-directory.txt
status.egg
bin/
.installed.cfg
*.egg
.pytest_cache/

# OS
.DS_Store
